body {
    padding: 0px;
    margin: 0;
    background-image: url(img/rps-bg.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
}

.container {
    margin-top: 4%;
    width: 700px;
    margin-left: 25%;
}

.clicked-images {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.click {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    transition: all 0.007 ease;
}

.current-score {
    margin: 5% 0;
    color: white;
    text-align: center;
    font-size: xx-large;
}

.rps-images {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.image {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    transition: all 0.007 ease;
    background-size: cover;
    background-position: center;
}

#ROCK {
    background-image: url(img/rock.jpg);
    background-size: cover;
    background-position: center;
}

#PAPER {
    background-image: url(img/paper.jpg);
    background-size: cover;
    background-position: center;
}

#SCISSORS {
    background-image: url(img/scissors.jpeg);
    background-size: cover;
    background-position: center;
}

.final-result {
    color: #fff;
    text-align: center;
    font-size: xx-large;
}

.btn {
    color: #fff;
    background-color: blue;
    padding: 20px;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 8px;
}